.sideNav .Dropdown--select .Dropdown-menu>li>a:hover {
    background: none;
    color: #fff;
    text-decoration: none;
}

.new .NotificationsDropdown-unread {
    background-color: #932e2e;
}

button.Dropdown-toggle.Button.Button--icon.Button--flat {
    background: none;
}

a {
    cursor: pointer;
    color: var(--heading-color);
    text-decoration: none;
}

.App-header .Button, .App-header .Button:hover {
    color: #fff;
    background-color: var(--header-bg);
}

.Button.Navigation-back {
    background-color: #444446;
}

.Button:active, .Button.active, .open>.Dropdown-toggle.Button {
    background-color: #444446;
}

.Scrubber-description {
    color: #ffffff;
}

.Button--primary {
    color: #fff;
}

.Button {
    color: #fff;
    background-color: #444446;
}

.App-header .FormControl {
    background: #fff;
}

.App-header .FormControl:focus {
    background: #fff;
    color: #333;
}

.TagLabel.colored .TagLabel-text {
  color: #e8e8e8;
}

.NotificationsDropdown .Dropdown-toggle.new .Button-icon {
    color: #fff;
}

.App-header .Button:active, .App-header .Button.active, .App-header .Button:focus, .App-header .Button.focus, .App-header .open>.Dropdown-toggle.Button {
    background: #1f2d3a;
    color: #fff;
}

.sideNav .Dropdown--select .Dropdown-menu>li.active>a {
    background: none;
    color: #fff;
    font-weight: bold;
}

.AfruxWidgets-Widget-title-label {
    background-color: #444446;
}

.PostMention, .UserMention {
    background-color: #444446;
    border-radius: 6px;
    color: var(--heading-color);
}

button.Dropdown-toggle.Button {
    color: #fff;
}

.Post-header, .Post-header a {
    color: #fff;
}

a.Scrubber-last:hover {
    color: var(--muted-color);
}

a.Scrubber-first:hover {
    color: var(--muted-color);
}

.Scrubber-bar {
    background-color: var(--muted-color);
}

a.PostMention:hover {
    color: var(--heading-color);
}

.Button.Button--link:hover {
  color: #fff;
}

.TagLabel { /* uppercase for .TagLabel-text (you can remove this) */
  font-size: 85%;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}

:root {
    --primary-color: #223240;
    --secondary-color: #223240;
    --body-bg: #222226;
    --body-bg-shaded: #0e1215;
    --body-bg-light: #1f272e;
    --body-bg-faded: rgba(20,26,31,0.93);
    --text-color: #ddd;
    --link-color: #1d3245;
    --heading-color: #ddd;
    --muted-color: #a8a8a8;
    --muted-color-light: #8a9aa8;
    --muted-color-dark: #000;
    --shadow-color: rgba(0,0,0,0.5);
    --control-bg: #444446;
    --control-bg-light: #212931;
    --control-bg-shaded: #12171c;
    --control-color: #6c8193;
    --error-color: #d83e3e;
    --header-bg: #333336;
    --header-color: #141a1f;
    --header-control-bg: #1f2d3a;
    --header-control-color: #ddd;
    --overlay-bg: rgba(10,13,15,0.9);
    --code-bg: #0e1215;
    --code-color: #fff;
    --alert-bg: #fff2ae;
    --alert-color: #ad6c00;
    --alert-error-bg: #d83e3e;
    --alert-error-color: #fff;
    --alert-success-bg: #b4f1af;
    --alert-success-color: #33722d;
    --switch-on-color: #58a400;
    --switch-off-color: #d0021b;
    --enabled-color: #2ECC40;
    --disabled-color: #FF4136;
    --validation-error-color: #d83e3e;
    --avatar-bg: var(--control-bg);
    --badge-bg: var(--muted-color);
    --badge-color: #fff;
    --badge-hidden-bg: #888;
    --usercard-bg: var(--control-bg);
    --hero-bg: #444446;
    --hero-color: #fff;
    --tooltip-bg: rgba(0,0,0,0.9);
    --tooltip-color: #fff;
    --online-user-circle-color: #7fba00;
    --discussion-title-color: #838587;
    --discussion-list-item-bg-hover: #171e23;
    --button-color: #6c8193;
    --button-bg: #444446;
    --button-bg-hover: #444446;
    --button-bg-active: #060809;
    --button-bg-disabled: #444446;
    --button-primary-color: #141a1f;
    --button-primary-bg: #333336;
    --button-primary-bg-hover: #19252f;
    --button-primary-bg-active: #10181f;
    --button-primary-bg-disabled: #333336;
    --control-danger-color: #a88;
    --control-danger-bg: #411;
    --control-danger-bg-hover: #300c0c;
    --control-danger-bg-active: #1b0707;
    --control-danger-bg-disabled: #411;
    --muted-more-color: #5c6770;
    --muted-more-bg: rgba(92,103,112,0.3);
    --muted-more-bg-hover: rgba(80,90,98,0.35);
    --muted-more-bg-active: rgba(69,77,84,0.4);
    --muted-more-bg-disabled: rgba(92,103,112,0.3);
    --button-inverted-color: #6c8193;
    --button-inverted-bg: #141a1f;
    --button-inverted-bg-hover: #0a0d0f;
    --button-inverted-bg-active: #000;
    --button-inverted-bg-disabled: #141a1f;
    --light-content-color: #fff;
    --light-content-control-color: #fff;
    --light-content-control-bg: rgba(0,0,0,0.1);
    --light-content-control-bg-shaded: rgba(0,0,0,0.2);
    --light-content-control-bg-fadedin: rgba(0,0,0,0.15);
    --header-colored-color: #141a1f;
    --header-colored-control-color: #1a242c;
    --header-colored-control-bg: #1f2d3a;
    --header-colored-control-bg-shaded: #162029;
    --header-colored-control-bg-fadedin: #1f2d3a;
    --border-radius: 4px;
    --drawer-width: 270px;
    --pane-width: 400px;
    --header-height: 52px;
    --header-height-phone: 46px;
    --zindex-header: 1000;
    --zindex-pane: 1010;
    --zindex-composer: 1020;
    --zindex-dropdown: 1030;
    --zindex-modal-background: 1040;
    --zindex-modal: 1050;
    --zindex-alerts: 1060;
    --zindex-tooltip: 1070;
    --flarum-screen: none;
    --screen-phone-max: 767.98px;
    --screen-tablet: 768px;
    --screen-tablet-max: 991.98px;
    --screen-desktop: 992px;
    --screen-desktop-max: 1099.98px;
    --screen-desktop-hd: 1100px;
}
