.App-header .Button, .App-header .Button:hover {
    color: #fbfbfb;
}

.Button--primary {
    color: #fbfbfb;
}

.App-header .FormControl {
    background: #fbfbfb;
}

.App-header .FormControl:focus {
    background: #fbfbfb;
    color: #333;
}

.new .NotificationsDropdown-unread {
    background: #fff;
}

.NotificationsDropdown .Dropdown-toggle.new .Button-icon {
    color: #fff;
}
